<div class="card">
  <div class="card-block">
    <h4>
      <a href="/location/5cea24ba492efd0e825284c3">{{name}}</a>
      <small>
        &nbsp;
        <small>
          &nbsp;
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="far fa-star"> </i>
          <i class="far fa-star"> </i>
        </small>
      </small>
      <span class="badge badge-pill badge-default float-right"> 0m </span>
    </h4>
    <p class="address">000 Galactic Filiment 0</p>
    <div class="facilities">
      <span class="badge badge-warning">Cocktails</span>
      <span class="badge badge-warning">Talking Entrees</span>
      <span class="badge badge-warning">Entertainment</span>
      <span class="badge badge-warning">Wifi</span>
    </div>
  </div>
</div>
