extends layout

block content
  .row.banner
    .col-12
      //- inserts { title: "xxx" } data from controller's res.render
      h1= title
  .row
    .col-12.col-lg-8
      //- !{} allows execution of HTML tags embedded in the text data
      //- .replace uses a RegEx to replace all "\n" in the text with <br/> tags
      p !{(content).replace(/\n/g, '<br/>')}
