//- index home page content PUG template

//- goes inside the layout.pug html wrapper
extends layout

//- inserts following content into "block content" area of layout.pug view
block content
  h1= title
  p Welcome to #{title}

