//- index home page content PUG template

//- goes inside the layout.pug html wrapper
extends layout

//- inserts following content into "block content" area of layout.pug view
block content
  .row.banner
    .col-12
      h1 Loc8r
        small &nbsp; find places to work with wifi near you!

  .row
    .col-12.col-md-8
      //- demo hard-coded data BS card
      .card
        .card-block
          h4
            a(href='/location') Starcups
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
            span.badge.badge-pill.badge-default.float-right 100m
          p.address 125 High Street, Reading, RG6 1PS
          .facilities
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Food
            span.badge.badge-warning Premium wifi

      //- demo hard-coded data BS card
      .card
        .card-block
          h4
            a(href='/location') Coffee People
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
            span.badge.badge-pill.badge-default.float-right 200m
          p.address 150 High Street, Reading, RG6 1PS
          .facilities
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Dirtheads
            span.badge.badge-warning Trust Punks
            span.badge.badge-warning Okay wifi

      //- demo hard-coded data BS card
      .card
        .card-block
          h4
            a(href='/location') Black Books
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
            span.badge.badge-pill.badge-default.float-right 300m
          p.address 175 High Street, Reading, RG6 1PS
          .facilities
            span.badge.badge-warning Surly shopkeep
            span.badge.badge-warning Weird books
            span.badge.badge-warning Probably wifi

    .col-12.col-md-4
      p.lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.